body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

.goods-list {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.goods-list-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.card {
	height: 440px;
	width: 302px;
	margin: 10px;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
}

.card-img {
	height: 300px;
	width: 300px;
	border: 1px solid #0e0e0e;
	border-radius: 3px;
}
.card-title {
	margin: 10px;
}
.card-info{
	margin: 10px;
}

.card-details {
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-buttons {
	display: flex;
	align-items: center;
}

.card-buttons .card-add-to-favourite-btn {
	color: yellow;
}


.modal-overlap {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: gray;
	opacity: 0.9;
}

.modal-hide {
	display: none;
}
