
@media (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media (min-width : 321px) and (max-width: 640px) {
  .container {
    width: 100%;
  }

  .header__navbar {
    height: 74px;

    &-name {
      font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (640 - 320)));
      margin-left: 37px;
    }

    &-menu {
      height: 74px;
      width: 82px;

      &-checkbox  {
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--top  {
          margin-top: 8px;
        }
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--middle  {
          transform: translate(-8px);
          opacity: 0;
        }
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--bottom  {
          transform: rotate(-135deg);
          top: 13px;
        }
      }

      &-icon {
        min-width: 32px;
        min-height: 32px;

        &-stick {
          width: 32px;
          height: 4px;
        }

        &-stick--top {
          top: 6px;
          left: 0;
        }

        &-stick--middle {
          top: calc(50% - 2px);
          left: 0;
        }

        &-stick--bottom {
          bottom: 6px;
          left: 0;
        }
      }

      &-block {
        width: 243px;
        height: 215px;
        right: -243px;
        top: 74px;
        &-item a  {
          height: 42px;
          width:  243px;
          font-size: 14px;
          padding-left: 27px;
          padding-bottom: 12px;
          padding-top: 12px;
        }
      }
      &-checkbox:checked ~ .header__navbar-menu-block  {
        transform: translateX(-243px);
        opacity: 1;
      }
    }
  }

  .header__main  {
    background: url("../img/header-fon640.png") no-repeat;
    background-size: cover;
    &-slogan  {
      width: 376px;
      margin-left: 38px;
      margin-top: 30px;
      &-text  {
        font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (640 - 320)));
        margin-bottom: 7px;
      }
    }
    &-reference  {
      width: 222px;
      margin-left: 38px;
      margin-top: 20px;
      margin-bottom: calc(94px + (196 - 94) * ((100vw - 320px) / (640 - 320)));
      font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (640 - 320)));
    }
  }


  .services  {
    margin-top: 5px;
    &__gallery  {
      &__item  {
        height: calc(75px + (150 - 75)*((100vw - 320px) / (640 - 320)));
        &-title  {
          flex-grow: 1;
          font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (640 - 320)));
          &--bg-pizza  {
            background: url("../img/pizza_delivery640.png") no-repeat bottom;
            background-size: cover;
          }
          &-text--pizza  {
           margin: 0;
          }
          &--bg-salads  {
            background: url("../img/salads640.png") no-repeat center;
            background-size: cover;
          }
          &-text--salads  {
            margin: 0;
          }
          &--bg-deserts  {
            background: url("../img/desserts640.png") no-repeat top;
            background-size: cover;
          }
          &-text--deserts  {
            margin: 0;
          }
        }
        &-link  {
          width: calc(71px + (142 - 71)* ((100vw - 320px) / (640 - 320)));
          &::before  {
            height: 14px;
            width: 14px;
            left: 44%;
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
          }
        }
      }
    }
  }


  .menu  {
    margin-top: 40px;
    margin-bottom: 26px;
    &__title {
      &-box {
        &-text {
          font-size: calc(18px + (38 - 18) * ((100vw - 320px) / (640 - 320)));
          margin-left: 20px;
          margin-top: 0;
        }
        &-subtitle-text {
          font-size: calc(9px + (19 - 9) * ((100vw - 320px) / (640 - 320)));
          margin-left: 20px;
          margin-top: 9px;
        }
      }
    }
    &__content  {
      margin-top: 20px;
      &__block {
        margin-bottom: 27px;
        &-title {
          height: calc(37px + (75 - 37) * ((100vw - 320px) / (640 - 320)));
          font-size: calc(20px + (38 - 20) * ((100vw - 320px) / (640 - 320)));
          padding-left: 37px;
        }
        &-subtitle {
          height: calc(25px + (48 - 25) * ((100vw - 320px) / (640 - 320)));
          margin-top: 22px;

          &-text {
            font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (640 - 320)));
            margin-left: 37px;
          }

          &-icon {
            font-size: calc(23px + (48 - 23) * ((100vw - 320px) / (640 - 320)));
            &--wafel {
              margin-right: 35px
            }
            &--wine {
              margin-right: 35px
            }
            &--coffee {
              margin-right: 35px;
            }
            &--beer {
              margin-right: 35px;
            }
          }
        }

        &-items {
          margin: 36px 35px 10px;
        }
        &-item  {
          margin-bottom: 21px;
          &-properties  {
            &-name  {
              font-size: calc(13.5px + (25 - 13.5) * ((100vw - 320px) / (640 - 320)));
            }
            &-price  {
              font-size: calc(13px + (25 - 13) * ((100vw - 320px) / (640 - 320)));
            }
          }
          &-descr  {
            margin-top: 14px;
            font-size: calc(9px + (18 - 9) * ((100vw - 320px) / (640 - 320)));
          }
        }

      }
    }
  }


  .footer  {
    margin-top: 79px;
    &-content  {
      height: 97px;
      &-box  {
        &-text  {
        font-size: calc(9px + (17 - 9) * ((100vw - 320px) / (640 - 320)));
        margin-top: 6px;
        margin-bottom: 6px;
          &--top  {
          margin-left: 0;
          }
          &--bottom  {
          margin-left: 0;
          }
        }
      }
    }
  }
}


@media (min-width : 641px) and (max-width: 980px) {
  .container {
    width: 100%;
  }

  .header__navbar {
    height: 97px;
    &-name  {
      display: none;
    }
    &-menu  {
      width: 100%;
      height: 100%;
      justify-content: space-between;
      background: none;
      cursor: default;
      margin-left: 30px;
      margin-right: 30px;
      &-icon  {
        display: none;
      }
      &-block  {
        display: flex;
        justify-content: flex-start;
        position: static;
        height: 100%;
        width: 80%;
        opacity: 1;
        background: none;
        border: none;
        transition: none;
        &-item {
          display: flex;
          border: none;
          align-items: center;
          margin-right: calc(15px + (30 - 15) * ((100vw - 640px) / (980 - 640)));
          a {
            display: flex;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 15px;
            font-family:  Montserrat, sans-serif;
            font-size: calc(11px + (14 - 11) * ((100vw - 640px) / (980 - 640)));
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            cursor: pointer;
          }
          &:hover  {
            background: none;
          }
        }

      }
      &-logo  {
        display: block;
      }
    }
  }

  .header__main  {
    background: url("../img/header-fon980.png") no-repeat;
    background-size: cover;
    &-slogan  {
      width: 570px;
      margin-left: 30px;
      margin-top: 58px;
      &-text  {
        font-size: 54px;
        margin-bottom: 12px;
      }
    }
    &-reference  {
      width: 320px;
      margin-left: 30px;
      margin-top: 44px;
      margin-bottom: 260px;
      font-size: 34px;
    }
  }


  .services  {
    margin-top: 6px;
    &__gallery  {
      flex-direction: row;
      height: calc(214px + (326 - 214) * ((100vw - 640px) / (980 - 640)));
      &__item  {
        width: 33.33%;
        height: 100%;
        margin-bottom: 0;
        &-title  {
          height: 100%;
          width: 100%;
          font-size: calc(20px + (38 - 20) * ((100vw - 640px) / (980 - 640)));
          &--bg-pizza  {
            background: url("../img/pizza_delivery640.png") no-repeat;
            background-size: cover;
          }
          &--bg-salads  {
            background: url("../img/salads640.png") no-repeat;
            background-size: cover;
          }
          &--bg-deserts  {
            background: url("../img/desserts640.png") no-repeat;
            background-size: cover;
          }
        }
        &-link  {
          display: none;
        }
      }
    }
  }

  .menu  {
    margin-top: 50px;
    &__title  {
      height: 89px;
      justify-content: space-between;
      align-items: center;
      &-box  {
        &-text  {
          margin-top: 0;
          margin-left: 30px;
          font-size: calc(30px + (34 - 30) * ((100vw - 640px) / (980 - 640)));
        }
        &-subtitle-text  {
          font-size: 20px;
          margin-left: 30px;
          margin-top: 1px;
        }
      }
      &-logo  {
        display: block;
        margin-right: 12px;
      }
    }

    &__content  {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      &__block {
        width: 50%;
        margin-bottom: 0;
        &-title {
          height: 75px;
          font-size: calc(26px + (34 - 26) * ((100vw - 640px) / (980 - 640)));
          padding-left: 18px;
        }
        &-subtitle {
          height: 44px;
          margin-top: 27px;
          &-text {
            font-size:  calc(18px + (26 - 18) * ((100vw - 640px) / (980 - 640)));
            margin-left: 18px;
            margin-top: 0;
            &--light  {
              margin-top: 0
            }
          }

          &-icon {
            color: #acd8ad;
            font-size: calc(36px + (42 - 36) * ((100vw - 640px) / (980 - 640)));
            &--wafel {
              margin-right: 15px;
            }
            &--wine {
              margin-right: 15px;
            }
            &--coffee {
              margin-right: 15px;
            }
            &--beer {
              margin-right: 15px;
            }
          }
        }

        &-items {
          display: flex;
          flex-direction: column;
          margin: 35px 5px 10px 15px;
        }
        &-item  {
          margin-bottom: 20px;
          &-properties  {
            &-name  {
              font-size: calc(18px + (24 - 18) * ((100vw - 640px) / (980 - 640)));
            }
            &-price  {
              font-size: calc(18px + (24 - 18) * ((100vw - 640px) / (980 - 640)));
            }
          }
          &-descr  {
            line-height: 1.5;
            font-size: calc(9px + (16 - 9) * ((100vw - 640px) / (980 - 640)));
            word-spacing: 0.3px;
          }
        }
      }
    }
  }
  .footer  {
    margin-top: 73px;
    &-content {
      height: 97px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-logo {
        display: block;
        margin-left: 30px;
      }
      &-box {
        display: flex;
        margin-right: 30px;
        &-text {
          font-size: calc(13px + (19 - 13) * ((100vw - 640px) / (980 - 640)));
          margin-top: 6px;
          margin-bottom: 6px;
          &--top {
            margin-left: 0;
          }

          &--bottom {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

@media (min-width : 981px) {
  .container {
    width: 100%;
    //max-width: 1200px;
  }

  .header__navbar {
    height: 97px;
    &-name  {
      display: none;
    }
    &-menu  {
      width: 100%;
      height: 100%;
      justify-content: space-between;
      background: none;
      cursor: default;
      margin-left: 38px;
      margin-right: 38px;
      &-icon  {
        display: none;
      }
      &-block  {
        display: flex;
        justify-content: flex-start;
        position: static;
        height: 100%;
        width: 80%;
        opacity: 1;
        background: none;
        border: none;
        transition: none;
        &-item {
          display: flex;
          border: none;
          align-items: center;
          margin-right: 32px;
          a {
            display: flex;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 15px;
            font-family:  Montserrat, sans-serif;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            cursor: pointer;
            }
          &:hover  {
            background: none;
          }
        }
      }
      &-logo  {
        display: block;
      }
    }
  }

  .header__main  {
    background: url("../img/header-fon1200.png") no-repeat;
    background-size: cover;
    &-slogan  {
      width: 648px;
      margin-left: 38px;
      margin-top: 47px;
      &-text  {
        font-size: 62px;
        margin-bottom: 5px;
      }
    }
    &-reference  {
      width: 360px;
      margin-left: 38px;
      margin-top: 47px;
      margin-bottom: 380px;
      font-size: 38px;
    }
  }


  .services  {
    margin-top: 6px;
    &__gallery  {
      flex-direction: row;
      height: calc(326px + (400 - 326) * ((100vw - 980px) / (1200 - 980)));
      &__item  {
        width: 33.33%;
        height: 100%;
        margin-bottom: 0;
        &-title  {
          height: 100%;
          width: 100%;
          font-size: 43px;
          &--bg-pizza  {
            background: url("../img/pizza_delivery640.png") no-repeat;
            background-size: cover;
          }
          &--bg-salads  {
            background: url("../img/salads640.png") no-repeat;
            background-size: cover;
          }
          &--bg-deserts  {
            background: url("../img/desserts640.png") no-repeat;
            background-size: cover;
          }
        }
        &-link  {
          display: none;
        }
      }
    }
  }
  .menu  {
    margin-top: 41px;
    &__title  {
      height: 98px;
      justify-content: space-between;
      align-items: center;
      &-box  {
        &-text  {
          margin-top: 29px;
          margin-left: 22px;
          font-size: 40px;
        }
        &-subtitle-text  {
          font-size: 20px;
          margin-left: 22px;
          margin-top: 6px;
        }
      }
      &-logo  {
        display: block;
        height: 98px;
        width: 120px;
        background: url("../img/menu_logo1200.png") no-repeat;
        margin-right: 12px;
      }
    }
    &__content  {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      &__block {
        width: 50%;
        margin-bottom: 0;
        &-title {
          height: 75px;
          font-size: 40px;
          padding-left: 18px;
        }
        &-subtitle {
          height: 48px;
          margin-top: 23px;
          &-text {
            font-size:  30px;
            margin-left: 21px;
            margin-top: 0;
            &--light  {
              margin-top: 0
            }
          }
          &-icon {
            color: #acd8ad;
            font-size: 48px;
            &--wafel {
              margin-right: 5px;
            }
            &--wine {
              margin-right: 5px;
            }
            &--coffee {
              margin-right: 5px;
            }
            &--beer {
              margin-right: 5px;
            }
          }
        }
        &-items {
          display: flex;
          flex-direction: column;
          margin: 33px 0px 10px 20px;
        }
        &-item  {
          margin-bottom: 19px;
          &-properties  {
            &-name  {
              font-size: 27px;
            }
            &-price  {
              font-size: 27px;
            }
          }
          &-descr  {
            line-height: 1.2;
            font-size: 18px;
            word-spacing: -0.7px;
            margin-top: 12px;
          }
        }
      }
    }
  }

  .footer  {
    margin-top: 115px;
    &-content {
      height: 97px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-logo {
        display: block;
        margin-left: 38px;
      }
      &-box {
        display: flex;
        margin-right: 38px;
        &-text {
          font-size: 19px;
          margin-top: 6px;
          margin-bottom: 6px;
          &--top {
            margin-left: 0;
          }
          &--bottom {
            margin-left: 3px;
          }
        }
      }
    }
  }
}




