.container  {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  font-family: Lato, sans-serif;
}

.header  {
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    background-color: #373c3f;

    &-name  {
      margin-left: 18px;
      margin-bottom: 4px;
      color: #ffffff;
      font-size: 12px;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
    }

    &-menu  {
      display: flex;
      height: 37px;
      width: 41px;
      position: relative;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      background-color: #202529;

      &-checkbox  {
        display: none;
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--top  {
          transform: rotate(135deg);
          margin-top: 4px;
        }
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--middle  {
          transform: translate(-8px);
          opacity: 0;
        }
        &:checked ~ .header__navbar-menu-icon > .header__navbar-menu-icon-stick--bottom  {
          transform: rotate(-135deg);
          top: 7px;
        }
      }
      &-icon  {
        position: relative;
        min-width: 16px;
        min-height: 16px;
        &-stick  {
          position: absolute;
          width: 16px;
          height: 2px;
          background-color: #ffffff;
          transition: all 0.3s;
          &--top  {
            top: 3px;
            left: 0;
          }
          &--middle  {
            top: calc(50% - 1px);
            left: 0;
          }
          &--bottom  {
            bottom: 3px;
            left: 0;
          }
        }
      }
      &-block  {
        position: absolute;
        width: 182px;
        height: 161px;
        background-color: #fafafa;
        display: block;
        opacity: 0;
        right: -182px;
        top: 37px;
        border: 0.5px solid #e1e1e1;
        box-sizing: border-box;
        transition-property: opacity, transform;
        transition-duration:  0.5s;
        &-item  {
          border: 0.5px solid #e1e1e1;
          a {
            display: inline-block;
            height: 31px;
            width: 181px;
            font-size: 12px;
            padding-left: 12px;
            padding-bottom: 8px;
            padding-top: 8px;
            color: #5c5c5c;
            box-sizing: border-box;
          }
          &:hover  {
            background-color: #f5f5f5;
          }
        }
      }
      &-checkbox:checked ~ .header__navbar-menu-block  {
        transform: translateX(-181px);
        opacity: 1;
      }
      &-logo  {
        display: none;
        height: 83px;
        width: 104px;
        background: url("../img/nav-logo980.png") no-repeat;
      }
    }
  }

  &__main  {
    display: flex;
    flex-direction: column;
    background: url("../img/header-fon320.png") no-repeat;
    background-size: cover;
    
    &-slogan  {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 167px;
      margin-left: 20px;
      margin-top: 16px;
      &-text  {
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }
    &-reference  {
      width: 130px;
      color:  #a6d6e0;
      margin-left: 21px;
      margin-top: 2px;
      margin-bottom: 94px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.services  {
  margin-top: 4px;
  &__gallery  {
    display: flex;
    flex-direction: column;
    :last-child  {
      margin-bottom: 0;
    }
    &__item  {
      display: flex;
      width: 100%;
      height: 75px;
      margin-bottom: 2px;
      overflow: hidden;
      &-title  {
        height: 100%;
        width: 249px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        &--bg-pizza  {
          background: url("../img/pizza_delivery320.png") no-repeat;
          background-position-y: -234px;
          background-position-x: -21px;
        }
        &-text--pizza  {
          margin-top: -5px;
          margin-left: 5px;
        }
        &--bg-salads  {
          background: url("../img/salads320.png") no-repeat;
          background-position-y: -165px;
          background-position-x: -1px;
        }
        &-text--salads  {
          margin-top: -1px;
          margin-left: 24px;
        }
        &--bg-deserts  {
          background: url("../img/desserts320.png") no-repeat;
          background-position-y: -28px;
          background-position-x: -1px;
        }
        &-text--deserts  {
          margin-top: -5px;
          margin-left: -4px;
        }
      }
      &-link  {
        width: 71px;
        background-color: #acd8ad;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before  {
          content: "";
          position: absolute;
          height: 7px;
          width: 7px;
          left: 41%;
          border-top: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.menu  {
  color: #3f4043;
  margin-top: 25px;
  &__title  {
    display: flex;
    &-box  {
      display: flex;
      flex-direction: column;
      &-text  {
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 8px;
        margin-top: -3px;
      }
      &-subtitle-text  {
        color: #cbccce;
        font-size: 10px;
        margin-left: 10px;
        margin-top: 3px;
      }
    }
    &-logo  {
      display: none;
      height: 89px;
      width: 109px;
      background: url("../img/menu_logo980.png") no-repeat;
    }
  }
  &__content  {
    margin-top: 10px;
    &__block {
      display: flex;
      flex-direction: column;
      margin-bottom: 27px;

      &-title {
        display: flex;
        height: 37px;
        align-items: center;
        text-transform: uppercase;
        font-size: 20px;
        padding-left: 18px;
      }

      &-title--dark {
        color: #acd8ad;
        background-color: #3f4043;
      }

      &-title--light {
        color: #ffffff;
        background-color: #acd8ad;
      }

      &-subtitle {
        display: flex;
        height: 25px;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;

        &-text {
          font-size: 15px;
          text-transform: uppercase;
          margin-left: 18px;
          margin-top: 2px;
          &--light  {
            margin-top: 5px;
          }
        }

        &-icon {
          color: #acd8ad;
          font-size: 23px;
           &--wafel {
            margin-right: 19px;
          }
          &--wine {
            margin-right: 23px;
          }
          &--coffee {
            margin-right: 16px;
          }
          &--beer {
            margin-right: 22px;
          }
        }
      }

      &-items {
        display: flex;
        flex-direction: column;
        margin: 16px 17px 4px;

        :last-child  {
          margin-bottom: 0;
        };
      }
      &-item  {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        &-properties  {
          display: flex;
          justify-content: space-between;
          &-name  {
            font-size: 13.5px;
          }
          &-price  {
            font-size: 13px;
            font-weight: bold;
          }
        }
        &-descr  {
          text-align: justify;
          line-height: 1.13;
          margin-top: 7px;
          margin-left: 1px;
          font-size: 9px;
          word-spacing: -0.7px;
        }
      }

    }
  }
}

.footer  {
  margin-top: 17px;
  &-content  {
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: center;
    background-color: #acd8ad;
    &-logo  {
      display: none;
      height: 83px;
      width: 104px;
      background: url("../img/nav-logo980.png") no-repeat;
    }
    &-box  {
      &-text  {
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 3px;
        margin-bottom: 3px;
        &--top  {
          margin-left: 5px;
        }
        &--bottom  {
          margin-left: 2px;
        }
      }
    }
  }
}


@import "media";