body  {
	font-family: Verdana, sans-serif;
}
.container  {
	background: url("../IMG/rana-sawalha-364253-unsplash@1X.png") no-repeat center center fixed;
	background-size: cover;
}
header  {
	background-color: rgba(0,0,0,0.41);
	height: 56px;
	padding: 18px 75px 18px 81px;
	box-sizing: border-box;
}
.headline  {
	height: 20px;
	display: block;
}
.clearfix::after  {
	 content: '';
	 clear: both;
	 display: block;
}
.headline-logo  {
	font-size: 20px;
	font-weight: bold;
	height: 20px;
	color: #ffffff;
	float: left;
}
.headline-logo:hover  {
	color: #3cb878;
	transition: 1s ease-in-out;
}

.headline-nav-authorisation-top  {
	height: 20px;
	float: right;
}
nav  {
	height: 20px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
nav::after {
	content: "";
	border: 0.5px solid rgba(0,0,0,0.1);
	height: 20px;
	width: 1px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	right: -25px;
	top: 0;
}
nav a {
	float: left;
	margin-right: 28px;
}
nav a:last-child  {
	margin-right: 0;
}

.sprite  {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-ic_caledar1  {
	width: 19px;
	height: 19px;
	background-position: -5px -5px;
}
.sprite-ic_caledar1:hover  {
	width: 19px;
	height: 19px;
	background-position: -34px -5px;
	transition: 0.3s;
}
.sprite-ic_forum1  {
	width: 28px;
	height: 20px;
	background-position: -63px -5px;
}
.sprite-ic_forum1:hover  {
	width: 28px;
	height: 20px;
	background-position: -101px -5px;
	transition: 0.3s;
}
.sprite-ic_journey1  {
	width: 20px;
	height: 20px;
	background-position: -139px -5px;
}
.sprite-ic_journey1:hover  {
	width: 20px;
	height: 20px;
	background-position: -169px -5px;
	transition: 0.3s;
}

.headline-authorisation-top  {
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	float: right;
	margin-top: 3px;
}
.green-text  {
	font-size: 14px;
	color: #3cb878;
}
.green-text:hover  {
	border-bottom: 1px solid #3cb878;
	transition: 0.5s;
}

main {
	height: calc(100vh - 56px);
	min-height: 584px; /* I think It's necessary fo modal window */
	position: relative;
	padding-bottom: 65px;
	padding-top: 65px;
}
.modal  {
	height: 584px;
	width: 444px;
	box-sizing: border-box;
	color: #ffffff;
	background: #ffffff;
	border-radius: 9px;
	padding: 29px 61px 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -292px;
	margin-left: -222px;
}
.modal::before  {
	content: "";
	width: 18px;
	height: 18px;
	background-color: #3cb878;
	position: absolute;
	top: 29px;
	left: 0;
}
.modal-authorisation-centre  {
	width: 322px;
	height: 80px;
	position: relative;
}
.modal-authorisation-centre-signup  {
	font-size: 20px;
	color: #434343;
	position: absolute;
	top: 0;
	left: 0;
}
.modal-authorisation-centre-login  {
	position: absolute;
	top: 3px;
	right: 0;
}
.modal-authorisation-centre-facebook  {
	width: 157px;
	height: 46px;
	margin-top: 34px;
	float: left;
	background-color: #305db8;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
}
.modal-authorisation-centre-facebook:hover  {
	background-color: #264b96;
	transition: 0.5s;
}

.modal-authorisation-centre-facebook-text  {
	padding: 15px 17px 15px 66px;
	position: relative;
}
.modal-authorisation-centre-facebook-text::after  {
	content: "";
	border: 0.5px solid rgba(0,0,0,0.1);
	height: 28px;
	width: 1px;
	box-sizing: border-box;
	position: absolute;
	right: 109px;
	top: 9px;
}
.modal-authorisation-centre-facebook-text::before {
	content: url("../img/facebook1@1X.png");
	box-sizing: border-box;
	position: absolute;
	left: 20px;
	top: 12px;
}

.modal-authorisation-centre-google {
	width: 157px;
	height: 46px;
	display: inline-block;
	margin-top: 34px;
	float: right;
	background-color: #df4a32;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
}
.modal-authorisation-centre-google:hover  {
	background-color: #c3412c;
	transition: 0.5s;
}
.modal-authorisation-centre-google-text  {
	padding: 15px 30px 15px 72px;
	position: relative;
}

.modal-authorisation-centre-google-text::after  {
	content: "";
	border: 0.5px solid rgba(0,0,0,0.1);
	height: 28px;
	width: 1px;
	box-sizing: border-box;
	position: absolute;
	right: 109px;
	top: 9px;
}
.modal-authorisation-centre-google-text::before {
	content: url("../img/G+@1X.png");
	box-sizing: border-box;
	position: absolute;
	left: 13px;
	top: 15px;
}
.modal-narrow  {
	font-size: 14px;
	color: #848484;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	position: relative;
}
.modal-narrow::before  {
	content: "";
	border: 0.5px solid #eaeaea;
	height: 0.5px;
	width: 135px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 7px;
}
.modal-narrow::after  {
	content: "";
	border: 0.5px solid #eaeaea;
	height: 0.5px;
	width: 135px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
}


input  {
	height: 46px;
	width: 322px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	background-color: #FFFFFF;
	outline: none;
	color: #434343;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	padding-left: 18px;
	margin-bottom: 9px;
	display: block;
}
input:first-child  {
	margin-bottom: 17px;
}
input::placeholder  {
	color: #bebebe;
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:focus  {
	border: none;
	box-shadow: 0 5px 7px rgba(0,0,0,0.4);
}
input:focus::placeholder  {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.checkbox input {      /*hidden old checkbox*/
	position: absolute;
	z-index: -1;
	opacity: 0;
	height: 0;
	margin: 0;
}
.checkbox-text {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #434343;
	font-size: 14px;
	margin-top: 22px;
	margin-bottom: 28px;
	display: block;
}
.checkbox-text::before {    /*new checkbox*/
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 3px;
}
.checkbox input:checked + .checkbox-text::before {  /* add green check mark*/
	content: url("../img/checkbox@1X.png");
	text-align: center;
	padding: 3px 2px;
}
.modal-btn  {
	color: #FFFFFF;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	line-height: 16px;
	padding: 15px 99.5px;
	background-color: #3cb878;
	border: none;
	border-radius: 4px;
}
.modal-btn:hover  {
	background-color: #329a65;
	transition: 0.3s;
}

