body  {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 1.6pt;
    margin-top: 32px;
    margin-bottom: 45px;
}
.nav-bar  {
    text-align: center;
    margin-bottom: 35px;
}
.nav-bar-link  {
    text-transform: uppercase;
    text-decoration: none;
    color: #16A085;
    font-size: 18px;
    margin-right: 65px
}
.nav-bar:last-child  {
    margin-right: 0;
}
.picture-parameters  {
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.main-gray-bg  {
    padding-top: 59px;
    padding-bottom: 94px;
    background-color: #f5f6f7;
}
.main-slogan  {
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 34px;
    text-align: center;
}
.main-text  {
    line-height: 1.5;
    margin-left: 113px;
    margin-right: 105px;
    text-align: center;
}
.main-button-align  {
    text-align: center;
}
.main-button-parameters  {
    height: 52px;
    width: 200px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background: #16A085;
    margin-top: 41px;
    padding: 20px 44px 20px 44px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.main-button-parameters:hover  {
    cursor: pointer;
}
.footer-right  {
    text-align: right;
    margin-bottom: 45px;
    margin-top: 47px;
    margin-right: 105px;
}
