body {
	background-color: #0079BF;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.header {
	background: black;
	padding: 10px;
	line-height: 60px;
}
.header-title {
	color: white;
	text-align: center;
	font-size: 50px;
}

#new-column-btn {
	padding: 10px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
}
#container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.column {
	background: #cccccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex: 0 0 300px;
	margin: 0 10px;
	max-height: 100%;
	position: relative;
	width: 300px;
	max-width: 300px;
	cursor: pointer;
}

.add-card-btn {
	min-height: 20px;
	padding: 8px 30px 8px 20px;
	line-height: 18px;
	font-weight: bold;
	border-radius: 4px;
}

.sort-btn {
	padding: 8px 30px 8px 20px;
	font-weight: bold;
	border-radius: 4px;
}

.cards {
	min-height: 30px;
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 5px;
	padding: 0 5px;
}

.card {
	margin: 10px;
}

.form-wrapper {
	margin: 4px 10px;
}
.new-card-input {
	width: 100%;
	margin-bottom: 4px;
	overflow: hidden;
	word-wrap: break-word;
	resize: none;
	height: 50px;
	border: none;
	box-shadow: none;
}
