.image-to-show {
	width: 400px;
	height: 400px;
}

.image-to-hide {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.current-image {
	opacity: 1;
	z-index: 1;
	transition: opacity 1s;
}
.images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.images-wrapper-slider {
	height: 400px;
	width: 400px;
	margin: 0 auto;
	border: solid blue 5px;
}


.btns {
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.btn {
	height: 30px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: yellow;
	font-weight: bold;
}

