body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.navbar {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

.goods-list {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.goods-list-title {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.card {
  height: 450px;
  width: 302px;
  margin: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.card-img {
  height: 300px;
  width: 300px;
  border: 1px solid #0e0e0e;
  border-radius: 3px;
}
.card-title {
  margin: 10px;
  font-weight: bold;
}
.card-code {
  margin: 10px;
}
.card-info{
  margin: 10px;
}

.card-details {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price {
  font-weight: bold;
}
.card-buttons {
  display: flex;
  align-items: center;
}

.card-buttons .card-add-to-favourite-btn {
  color: yellow;
}


.modal-overlap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: gray;
  opacity: 0.9;
}

.modal-hide {
  display: none;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: black;

}

.footer p {
  color: #ffffff;
}