body  {
	background: url("../IMG/Space.jpg") center no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.star-wars  {
	position: absolute;
	width: 65%;
	margin: 0 25% 0 25%;
	height: 100%;
	font-size: 200%;
	text-align: justify;
	color: yellow;
	overflow: hidden;
	transform: perspective(250px) rotateX(30deg);
}


.star-wars-text {
	position: absolute;
	top: 100%;
	animation: movement 30s linear infinite;
	overflow: hidden;
}

p {
	margin: 1.35em 0 1.85em 0;
	line-height: 1.2em;
}
.star-wars-text-title, .star-wars-text-sub-title  {
	text-align: center;
}


@keyframes movement {
	0% {
		top: 100%;
		opacity: 0;
	}
	5% {
		top: 100%;
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		top: -200%;
		opacity: 0;
	}
}