body  {
	font-family: Verdana, sans-serif;
	color: #ffffff;
}
.background  {
	background-image: url("../IMG/background@1X.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1366px;
	margin: 0 auto;
}
.background-darkened  {
	background-color: rgba(0,0,0,0.7);
}

/*.main-content  {*/
/*	width: 1366px;*/
/*	margin: 0 auto;*/
/*}*/

header  {
	height: 44px;
	width: 1061px;
	display: inline-block;
	padding-top: 49px;
	padding-left: 155px;
	padding-right: 150px;
}
.logo {
	font-weight: bold;
	display: inline-block;
	height: 44px;
	width: 169px;
	background: url("../img/logo@1X.png") no-repeat;
	color: #ffffff;
}
.logo:hover  {
	background: url("../img/logo@1Xhover.png") no-repeat;
	color: #f26522;
}
.logo-title  {
	box-sizing: border-box;
	height: 44px;
	width: 107px;
	float: right;
	text-transform: uppercase;
	text-align: center;
}
.logo-title-big  {
	height: 23px;
	width: 107px;
	font-size: 29px;
	line-height: 24px;
	float: right;
}
.logo-title-small  {
	height: 13px;
	width: 107px;
	font-size: 18px;
	margin-top: 8px;
	line-height: 13px;
	float: right;
}
.contacts  {
	float: right;
	font-size: 18px;
	height: 36px;
	width: 243px;
	text-align: right;
	line-height: 19px;
	margin-top: 8px;
}

.img-bar  {
	width: 1061px;
	height: 596px;
	padding-top: 45px;
	padding-left: 155px;
	padding-right: 150px;
}
.img-bar-link  {
	color: #ffffff;
}

.img-bar-types  {
	float: left;
	width: 311px;
	height: 205px;
	margin-right: 64px;
	margin-bottom: 93px;
}
.img-bar-types:nth-child(3n)  {
	margin-right: 0;
}

.img-bar-shopping-bg  {
	background-image: url("../img/Layer 21@1X.png");
}
.img-bar-sightseeing-bg  {
	background-image: url("../img/Layer 22@1X.png");
}
.img-bar-food-bg  {
	background-image: url("../img/Layer 23@1X.png");
}
.img-nightlife-bg  {
	background-image: url("../img/Layer 24@1X.png");
}
.img-art-bg  {
	background-image: url("../img/Layer 26@1X.png");
}
.img-walking-bg  {
	background-image: url("../img/Layer 25@1X.png");
}

.img-bar-types-box  {
	float: left;
	width: 311px;
	height: 205px;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #fefefe, #010101);  /*gradient border white to dark*/
	border-image-slice: 1;
	position: relative;
	overflow: hidden;
}

.img-bar-details  {
	margin-top: 137px;
	margin-bottom: -63px;               /*margin-bottom must = height*/
	height: 63px;
	width: 307px;
	background-color: #f26522;
	position: absolute;
	bottom: 0;
	transition: margin 1s linear;
	visibility: hidden;                   /*details box hidden*/
}
.img-bar-link:hover .img-bar-details  {
	margin-bottom: 0;
	visibility: visible;
}
.img-bar-link:hover .img-description  {
	color: #f26522;
}

.img-bar-details-price  {
	height: 30px;
	width: 38px;
	float: left;
	margin-top: 16px;
	margin-left: 21px;
}
.img-bar-details-price-top  {
	font-size: 10px;
	float: left;
}
.img-bar-details-price-bottom  {
	font-size: 20px;
	line-height: 20px;
}
.img-bar-details-right {
	font-size: 14px;
	margin-right: 17px;
	float: right;
	margin-top: 33px;
}
.img-bar-details-right::after  {
	content: url("../img/Arrow@1X.png"); /* pseudo-element ::after is used for right arrow*/
}
.img-description  {
	font-size: 18px;
	line-height: 18px;
	width: 165px;
	margin: 20px 73px 55px 73px;
	display: inline-block;
	text-align: center;
}

.clearfix  {
	clear: both;
}

footer  {
	font-size: 12px;
	display: inline-block;
	text-align: center;
	height: 12px;
	width: 351px;
	padding-left: 510px;
	padding-right: 505px;
	padding-bottom: 20px;
}