body {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.7pt;
	padding: 60px 0 30px 0;
}
.container  {
	width: 1280px;
	margin: 0 auto;
}
.logo-title  {
	display: inline-block;
	text-align: left;
	font-size: 80px;
	color: #4bcaff;
	text-decoration: none;
	padding-bottom: 45px;
}
.logo-title-capital  {
	text-transform: capitalize;
	color: #000000;
}
.nav-bar-top  {
	display: inline-block;
	box-sizing: border-box;
	height: 70px;
	width: 1280px;
	background-color: #35444f;
	text-align: center;
}
.nav-bar-top-link  {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	padding: 23px 41px;
	border-left: 1px solid #35444f;
	border-right: 1px solid #35444f;
}
.nav-bar-top-link:hover  {
	background: #222f3a;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
}
.main  {
	display: inline-block;
	height: 532px;
	width: 1280px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.main-nav-bar-left {
	display: inline-block;
	height: 402px;
	width: 344px;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid #35444f;
}
.main-nav-bar-left-link  {
	display: inline-block;
	text-decoration: none;
	color: #485863;
	font-size: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 44px;
	width: 342px;
	height: 80px;
	box-sizing: border-box;
}
.main-nav-bar-left-link:hover {
	transform: translate(25px,0);
	transition-duration: 0.5s;
}
.main-nav-bar-left-bg:hover  {
	background: #dbdbdb;
}
.main-img  {
	display: inline-block;
	float: right;
	box-sizing: border-box;
	height: 531px;
	width: 886px;
	border: 1px solid #35444f;
	position: relative;
	overflow: hidden;
}
.main-img-parameters  {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 74px 282px;
}
.main-img-parameters:hover  {
	transform: scale(1.2);
	transition-duration: 1.5s;
	cursor: pointer;
}
.text  {
	display: inline-block;
	width: 820px;
	padding: 0 34px;
	margin-left: 392px;
	font-size: 18px;
	margin-bottom: 50px;
	line-height: 1.3;
}
.text-paragraph-top  {
	margin-bottom: 30px;
}
.footer-nav-bar-bottom-and-copyright  {
	display: block;
	height: 70px;
	background-color: #b4b7ba;
}
.footer-nav-bar-bottom  {
	display: inline-block;
	font-size: 28px;
	height: 28px;
	padding-left: 45px;
	padding-top: 21px;
	padding-bottom: 21px;
}
.footer-nav-bar-bottom-link  {
	margin-right: 15px;
	text-decoration: none;
	color: #0c1927;
}
.footer-nav-bar-bottom-link:last-child  {
	margin-right: 0;
}
.footer-nav-bar-bottom-link:hover  {
	text-decoration: underline;
	color: #3181a6;
}
.footer-copyright {
	display: inline-block;
	font-size: 24px;
	color: #010101;
	float: right;
	padding-bottom: 23px;
	padding-top: 23px;
	padding-right: 35px;
}
