
@font-face {
	font-family: 'Arimo';
	src: url('../fonts/Arimo-Regular-webfont.eot');
	src: url('../fonts/Arimo-Regular-webfont.eot?iefix') format('eot'),
	url('../fonts/Arimo-Regular-webfont.woff') format('woff'),
	url('../fonts/Arimo-Regular-webfont.woff2') format('woff2'),
	url('../fonts/Arimo-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Arimo-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arimo';
	src: url('../fonts/Arimo-Bold-webfont.eot');
	src: url('../fonts/Arimo-Bold-webfont.eot?iefix') format('eot'),
	url('../fonts/Arimo-Bold-webfont.woff') format('woff'),
	url('../fonts/Arimo-Bold-webfont.woff2') format('woff2'),
	url('../fonts/Arimo-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Arimo-Bold-webfont.svg#webfont') format('svg');
	font-weight:  bold;
	font-style: normal;
}

.price2  {
	border-top: 30px solid #3a4965;
	border-bottom: 22px solid #3a4965;
	border-right: 30px solid #3a4965;
	border-left: 27px solid #3a4965;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: #484848;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: 1.6em;
}
th, td  {
	box-shadow: inset 0 -2px 2px -1px rgba(0,0,0,0.1);
}

td:nth-child(odd), th:nth-child(odd)  {
	background: #f2f2f2;
	width: 157px;
}
td:nth-child(even), th:nth-child(even)  {
	background: #e3e3e3;
	width: 157px;
}
.price2-header-row1  {
	height: 113px;
	font-size: 20px;
	font-weight: bold;
}
th.price2-header-row1-cell1  {
	width: 198px;
	background: #fafafa;
}
.price2-header-row1-cell1-small  {
	font-size: 14px;
	line-height: 1.2em;
	display: block;
}
.icons2  {
	color: #848484;
	font-size: 24px;
	vertical-align: middle;
	margin-bottom: 7px;
}
.price2-button  {
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	border: none;
	width: 144px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
	background: #484848;
	box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.15);
	margin-bottom: 18px;
	margin-top: 27px;
}
.price2-button:hover  {
	color: #000000;
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.price2-footer  {
	height: 165px;
}
td.price2-footer-cell1  {
	background-color: #20807c;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: bottom;
	line-height: 1em;
}
.price2-footer-cell1-big  {
	 font-size: 24px;
	 display: inline-block;
	 margin-top: 18px;
	 margin-bottom: 21px;
}
.price2-footer-cell1-huge  {
	font-size: 36px;
}
.price2-footer-cell1-medium {
	font-size: 18px;
}
.price2-footer-cell1-small  {
	font-size: 14px;
	line-height: 1em;
}
.price2-body-row1  {
	height: 165px;
}
td.price2-body-row1-cell1  {
	background-color: #89c331;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: bottom;
	line-height: 1em;
}
.price2-body-row1-cell1-big  {
	 font-size: 24px;
	 display: inline-block;
	 margin-top: 18px;
	 margin-bottom: 21px;
}
.price2-body-row1-cell1-huge {
	  font-size: 36px;
}
.price2-body-row1-cell1-medium {
	   font-size: 18px;
}
.price2-body-row1-cell1-small  {
	font-size: 14px;
	line-height: 1em;
}

.price2-body-row2  {
	height: 165px;
}
td.price2-body-row2-cell1  {
	background-color: #f04a56;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: bottom;
	line-height: 1em;
}
.price2-body-row2-cell1-big  {
	font-size: 24px;
	display: inline-block;
	margin-top: 18px;
	margin-bottom: 21px;
}
.price2-body-row2-cell1-huge {
	font-size: 36px;
}
.price2-body-row2-cell1-medium {
	font-size: 18px;
}
.price2-body-row2-cell1-small  {
	font-size: 14px;
	line-height: 1em;
}
