
@font-face {
	font-family: 'Arimo';
	src: url('../fonts/Arimo-Regular-webfont.eot');
	src: url('../fonts/Arimo-Regular-webfont.eot?iefix') format('eot'),
	url('../fonts/Arimo-Regular-webfont.woff') format('woff'),
	url('../fonts/Arimo-Regular-webfont.woff2') format('woff2'),
	url('../fonts/Arimo-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Arimo-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arimo';
	src: url('../fonts/Arimo-Bold-webfont.eot');
	src: url('../fonts/Arimo-Bold-webfont.eot?iefix') format('eot'),
	url('../fonts/Arimo-Bold-webfont.woff') format('woff'),
	url('../fonts/Arimo-Bold-webfont.woff2') format('woff2'),
	url('../fonts/Arimo-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Arimo-Bold-webfont.svg#webfont') format('svg');
	font-weight:  bold;
	font-style: normal;
}

.price  {
	border-top: 24px solid #3a4965;
	border-bottom: 32px solid #3a4965;
	border-right: 30px solid #3a4965;
	border-left: 22px solid #3a4965;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: #484848;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
th, td  {
	box-shadow: inset 2px 0 2px -1px rgba(0,0,0,0.1);
 }

.price-header  {
	background-color: #fafafa;
}
.price-header-row1  {
	height: 70px;
}
.price-header-row1-cell1  {
	width: 309px;
	font-size: 30px;
	font-weight: bold;
}
.price-header-row1-cell1-small  {
	font-size: 18px;
	line-height: 1.2em;
}
.price-header-row1-cell2  {
	font-size: 24px;
	font-weight: bold;
	width: 277px;
	color: #FFFFFF;
	background-color: #89c331;
}
.price-header-row1-cell3  {
	font-size: 30px;
	font-weight: bold;
	width: 277px;
	color: #FFFFFF;
	background-color: #f04a56;
}
.price-header-row1-cell4 {
	font-size: 24px;
	font-weight: bold;
	width: 277px;
	color: #FFFFFF;
	background-color: #20807c;
}

.price-header-row2 {
	height: 86px;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
}
.price-header-row2-cell1  {
	padding-left: 33px;
	position: relative;
}
.price-header-row2-cell1-small  {
	font-size: 24px;
}
.price-header-row2-cell1-text  {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: 136px;
  top: 45px;
}
.price-header-row2-cell2  {
	padding-left: 33px;
	position: relative;
}
.price-header-row2-cell2-small  {
	font-size: 24px;
}
.price-header-row2-cell2-text  {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: 136px;
	top: 45px;
}
.price-header-row2-cell3  {
	padding-left: 33px;
	position: relative;
}
.price-header-row2-cell3-small  {
	font-size: 24px;
}
.price-header-row2-cell3-text  {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: 136px;
	top: 45px;
}

tbody tr:nth-child(odd)  {
	background-color: #f2f2f2;
	height: 69px;
}
tbody tr:nth-child(even)  {
	background-color: #e3e3e3;
	height: 69px;

}
.price-footer  {
	height: 110px;
	background-color: #eeeeee;
}
.price-footer td:first-child  {
	background-color: #dddddd;
}
.price-footer td:nth-child(3)  {
	background-color: #f4f4f4;
}
.price-footer-button {
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	border: none;
	width: 192px;
	height: 49px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 -7px 0 0 rgba(0,0,0,0.15);
}
.price-footer-button:hover  {
	color: #000000;
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.button-black {
	background-color: #484848;
}
.button-atlantis  {
	background-color: #89c331;
}
.button-carnation  {
	background-color: #f04a56;
}
.button-elm  {
	background-color: #20807c;
}

.icons  {
	color: #848484;
	font-size: 24px;
	vertical-align: middle;
	margin-right: 12px;
}
