
.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-y: auto;
	margin: 0 auto;
}
.container  {
	 width: 1900px;
	 margin: 0 auto;
	 font-family: 'Open Sans', sans-serif;
}
.parallax-group-header  {
	min-height: 450px;
}
.parallax-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.header-navbar  {
	color: #ffffff;
	background-color: #1d2124;
	display: flex;
	justify-content: space-between;
}
.header-navbar-logo  {
	color: #ffffff;
	display: flex;
}
.header-navbar-logo-img  {
	height: 70px;
	width: 70px;
	background-color: #1a1d20;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-navbar-logo-img::before {
	content: url("../IMG/logo-img@1X.png");
}
.header-navbar-logo-title  {
	margin-left: 6px;
	font-size: 22px;
	font-weight: bold;
	align-self: center;
}
.header-navbar-menu  {
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	width: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-navbar-menu-link  {
	color: #ffffff;
}
.header-navbar-search  {
	height: 70px;
	width: 70px;
	background-color: #171a1c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-navbar-search::before  {
	content: url("../IMG/fa-search@1X.png");
}

.header-main  {
	margin: 0 auto;
	display: flex;
	max-width: 610px;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 127px;
	padding-bottom: 127px;
}
.header-main-title  {
	color: #ffffff;
	font-size: 27px;
	text-transform: uppercase;
	margin-bottom: 44px;
}
.header-main-btn  {
	height: 55px;
	width: 170px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.btn-green  {
	background-color: #89ca62;
	margin-right: 10px;
}
.btn-blue  {
	background-color: #14b9d5;
	margin-left: 10px;
}

.parallax-layer-bg-header {
	transform: translateZ(-2px) scale(3);
	margin: 0 auto;
	z-index: -10;
	width: 1900px;
}
.bg-header  {
	background: url("../IMG/img_header-bg.jpeg") no-repeat bottom;
	background-size: cover;
	height: 100vh;
	min-hight: 380px;
 }


.post-bar  {
	background-color: #f2f2f2;
}
.post-bar-title  {
	font-size: 27px;
	font-weight: bold;
	color: #18b4cf;
	text-transform: uppercase;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}
.post-bar-list  {
	width: 1170px;
	height: 895px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
}
.post-bar-list-img  {
	width: 370px;
	background-color: #ffffff;
	margin-bottom: 31px;
}
.VangloHouse-bg  {
	content: url("../IMG/post-1-img@1X.png");
}
.RoyalBlossomHotel-bg  {
	content: url("../IMG/post-4-img@1X.png");
}
.SunriseExpanseHotel-bg  {
	content: url("../IMG/post-2-img@1X.png");
}
.SunsetShackHotel-bg  {
	content: url("../IMG/post-5-img@1X.png");
}
.StargazeResort-bg  {
	content: url("../IMG/post-3-img@1X.png");
}
.GloriousExpanseHotel-bg  {
	content: url("../IMG/post-6-img@1X.png");
}
.post-bar-list-img-descr  {
	height: 61px;
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-group-clients  {
	/*height: 587px;*/
}
.parallax-layer-bg-clients  {
	transform: translateZ(-1px) scale(2);
	margin: 0 auto;
	z-index: -5;
	width: 1900px;
}
.parallax-layer-clients  {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 980px;
}

.bg-clients  {
	background: url("../IMG/img_parallax-bg.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	min-height: 587px;
}

.clients  {
	display: grid;
	grid-template-rows: 32px 3px 52px;
	grid-template-columns: auto;
	padding-top: 195px;
	padding-bottom: 195px;
	justify-content: center;
	grid-row-gap: 55px;
}
.clients-title  {
	font-size: 32px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}
.clients-border  {
	width: 60px;
	border-top: 3px solid #169cb4;
	justify-self: center;
}
.clients-brand-list  {
	width: 881px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clients-brand-item1 {
	content: url("../IMG/Layer 3@1X.png");
}
.clients-brand-item2 {
	content: url("../IMG/logo-8@1X.png");
}
.clients-brand-item3 {
	content: url("../IMG/Layer 2@1X.png");
}
.clients-brand-item4 {
	content: url("../IMG/logo-3@1X.png");
}

.archive-posts  {
	background-color: #FFFFFF;
}
.archive-posts-title  {
	font-size: 27px;
	font-weight: bold;
	color: #18b4cf;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 60px;
}
.archive-posts-imgbar  {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	max-width: 1900px;
	justify-content: space-between;
}
.archive-posts-imgbar-item1  {
	content: url("../IMG/latest-post-1-img@1X.png");
}
.archive-posts-imgbar-item2  {
	content: url("../IMG/latest-post-2-img@1X.png");
}
.archive-posts-imgbar-item3  {
	content: url("../IMG/latest-post-3-img@1X.png");
}
.archive-posts-imgbar-item4  {
	content: url("../IMG/latest-post-4-img@1X.png");
}
.archive-posts-imgbar-item5  {
	content: url("../IMG/latest-post-5-img@1X.png");
}
.archive-posts-imgbar-item6  {
	content: url("../IMG/latest-post-6-img@1X.png");
}
.archive-posts-imgbar-item7  {
	content: url("../IMG/latest-post-7-img@1X.png");
}

.news  {
	margin-bottom: 71px;
	background-color: #FFFFFF;
}
.news-title {
	font-size: 27px;
	font-weight: bold;
	color: #18b4cf;
	text-transform: uppercase;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}
.news-content  {
	margin: 0 auto;
	width: 1170px;
	display: grid;
	grid-template-rows: 259px 417px 417px 259px;
	grid-template-columns: repeat(4, 277px);
	row-gap: 43px;
	justify-content: space-between;
}
.news-content-item1  {
	display: flex;
	width: 856px;
	grid-column: span 3;
}
.news-content-item1-img  {
	content: url("../IMG/news1-img.png");
}
.news-content-item1-descr  {
	background-color: #f9f7f7;
	padding: 41px 24px 37px 29px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item1-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item1-descr-text  {
	height: 140px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.45em;
	overflow: hidden;
}
.news-content-item2  {
	width: 277px;
}
.news-content-item2-img  {
	content: url("../IMG/news2-img.png");
}
.news-content-item2-descr  {
	background-color: #f9f7f7;
}
.news-content-item2-descr-name {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
	height: 48px;
	display: grid;
	justify-content: center;
	align-items: center;
}
.news-content-item3  {
	width: 554px;
	grid-column: span 2;
}
.news-content-item3-img  {
	content: url("../IMG/news3-img.png");
}
.news-content-item3-descr  {
	background-color: #f9f7f7;
	padding: 20px 27px 21px 22px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item3-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item3-descr-text  {
	height: 77px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.42em;
	overflow: hidden;
}
.news-content-item4  {
	width: 554px;
	grid-column: span 2;
	justify-self: right;
}
.news-content-item4-img  {
	content: url("../IMG/news4-img.png");
}
.news-content-item4-descr  {
	background-color: #f9f7f7;
	padding: 20px 27px 21px 22px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item4-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item4-descr-text  {
	height: 77px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.42em;
	overflow: hidden;
}
.news-content-item5  {
	width: 554px;
	grid-column: span 2;
}
.news-content-item5-img  {
	content: url("../IMG/news5-img.png");
}
.news-content-item5-descr  {
	background-color: #f9f7f7;
	padding: 20px 27px 21px 22px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item5-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item5-descr-text  {
	height: 77px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.42em;
	overflow: hidden;
}
.news-content-item6 {
	width: 554px;
	grid-column: span 2;
	justify-self: right;
}
.news-content-item6-img  {
	content: url("../IMG/news6-img.png");
}
.news-content-item6-descr  {
	background-color: #f9f7f7;
	padding: 20px 27px 21px 22px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item6-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item6-descr-text  {
	height: 77px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.42em;
	overflow: hidden;
}
.news-content-item7  {
	width: 277px;
}
.news-content-item7-img  {
	content: url("../IMG/news7-img.png");
}
.news-content-item7-descr  {
	background-color: #f9f7f7;
}
.news-content-item7-descr-name {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
	height: 48px;
	display: grid;
	justify-content: center;
	align-items: center;
}
.news-content-item8  {
	display: flex;
	width: 856px;
	grid-column: span 3;
	justify-self: right;
}
.news-content-item8-img  {
	content: url("../IMG/news8-img.png");
}
.news-content-item8-descr  {
	background-color: #f9f7f7;
	padding: 41px 24px 37px 29px;
	display: grid;
	row-gap: 22px;
	text-align: right;
}
.news-content-item8-descr-name  {
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}
.news-content-item8-descr-text  {
	height: 140px;
	font-size: 14px;
	font-weight: 600;
	color: #666e72;
	line-height: 1.45em;
	overflow: hidden;
}

footer  {
	background-color: #1d2124;
}
.footer-copyright-with-logo  {
	width: 1170px;
	height: 80px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
}
.footer-copyright  {
	color: #ffffff;
	font-size: 13px;
}
.footer-logo  {
	display: grid;
	grid-template-columns: auto auto;
}
.footer-logo-icon  {
	content: url("../IMG/Vector Smart Object copy 3@1X.png");
}
.footer-logo-text  {
	padding-left: 3px;
	content: url("../IMG/Vector Smart Object@1X.png");
}
