.slider  {
	display: flex;
	width: 600px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-end;
}
.slider__border  {
	height: 247px;
	width: 370px;
	overflow: hidden;
	border: solid indigo 5px;
	position: relative;
}
.slider__items  {
	position: relative;
	left: 0;
	display: flex;
	align-items: center;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
}
.slider__item  {
	height: 247px;
	width: 100%;
}
.btn {
	height: 30px;
	width: 90px;
	border-radius: 10px;
	background-color: goldenrod;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}
