
.table {
	margin: 10px auto;
	border: 2px solid black;
}

.cell {
	height: 45px;
	width: 45px;
	border: 1px solid  black;
}

.cell-blue {
	background-color: blue;
}
.cell-red {
	background-color: red;
}
.cell-green {
	background-color: green;
}

.score-title {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-family: Arial, sans-serif;
}
.buttons {
	display: flex;
	justify-content: center;
}
.button {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, sans-serif;

}
.winner {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-family: Arial, sans-serif;
}